<form >
  <mat-card class="shipping-card" id="foo">
    <mat-card-header>
      <mat-card-title>Motobiker</mat-card-title>
      <mat-card-subtitle>Nit: 929045824820-1</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Cliente" [value]="factory.client" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Identificacion" [value]="factory.id" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <input matInput placeholder="Fecha" [value]="factory.date" disabled>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Manteniento" [value]="factory.maintenance" disabled></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Sub total:" [value]="factory.subTotal" disabled></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Iva:" [value]="factory.iva" disabled></textarea>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <mat-form-field class="full-width">
            <textarea matInput placeholder="Total:" [value]="factory.total" disabled></textarea>
          </mat-form-field>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="onClick()">Submit</button>
    </mat-card-actions>
  </mat-card>
</form>
